# Microsoft Power BI OAuth 2.0 PKCE
AZURE_CLIENT_ID=e6cbc2a5-ce4e-4a77-8f6b-3ff4300a659e
AZURE_TENANT_ID=325c40be-6d2b-4006-b2c5-078947c856d2

# Database Configuration
# Options: 'sqlite' (standalone local file database) or 'supabase' (remote cloud database)
DATABASE_PROVIDER=sqlite

# If DATABASE_PROVIDER=supabase:
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Source Timesheet database (used for migration script)
TIMESHEET_SUPABASE_URL=https://hmjlkuosgctqkvlwhfrm.supabase.co
TIMESHEET_SUPABASE_ANON_KEY=
